<%
  base_face = shinymasu_card_image_path('icon', "102%03d0010" % @chara.id)
  open_graph 'og:image', base_face
  open_graph 'og:image:secure_url', base_face
  open_graph 'og:description', "Character detail for %s" % [@chara.name_romaji]
%>
<div id="chara-data-card">
  <h1><%= @chara.name %></h1>
  <div id="chara-portrait" class="bg portrait<%= "%02d" % @chara.id %>"></div>
  <div id="chara-data" class="card">
    <div class="row">
      <div class="entry" data-field="Kana"><%= @chara.name_kana %></div>
      <div class="entry" data-field="Romaji"><%=
        @chara.name_romaji ||
        'N/A'
      %></div>
    </div>
    <div class="row">
      <div class="entry" data-field="Birthdate"><%= @chara.birth_day.strftime('%B %d') %></div>
      <div class="entry" data-field="Blood">Type <%= @chara.blood_type %></div>
      <div class="entry" data-field="Town"><%= @chara.place %></div>
    </div>
    <div class="row">
      <div class="entry" data-field="Age"><%= pluralize(@chara.age,'years') %> old</div>
      <div class="entry" data-field="Cr. Age"><%= pluralize(@chara.actual_age,'years') %> old*</div>
      <div class="entry" data-field="Sign"><%= @chara.star_sign %></div>
    </div>
    <div class="row">
      <div class="entry" data-field="Height"><%= @chara.height %>cm</div>
      <div class="entry" data-field="Weight"><%= @chara.weight %>kg</div>
      <div class="entry" data-field="Threes"><%= @chara.attributes.values_at('bust','waist','hip').join('/') %></div>
    </div>
    <div class="row">
      <div class="entry" data-field="DomHand"><%= @chara.arm %></div>
      <div class="entry" data-field="Seiyuu"><%= @chara.character_voice || 'N/A' %></div>
    </div>
    <div class="row">
      <div class="entry" data-field="Hobby"><%= @chara.hobby || '-' %></div>
    </div>
    <div class="row">
      <div class="entry" data-field="Special"><%= @chara.specialty || '-' %></div>
    </div>
  </div>
  <div id="chara-association" class="association">
    <div class="fit row bg unit-<%= '%02d' % @chara.unit_id %>"></div>
    <div class="fit row bg type-<%= @chara.attr.downcase %>"></div>
  </div>
</div>
<%
  _divs = 3
  produce, support = @chara.cards(mode: :neat).group_by { |k,v|
    String(k)[0].to_i
  }.values.map { |cl| cl.map(&:last) }
%>
<div id="chara-produce-cards" class="chara-cards">
  <h2>Produce Cards</h2>
  <% produce.each_slice( _divs ) do |cardrow| %>
  <div class="row">
    <% cardrow.each do |card| %>
    <div class="entry">
      <% if card.nil? %>
      <a>
        <div class="entry bg" style="background-image:url('<%= shinymasu_card_image_path('icon','0000000000') %>')"></div>
        <div class="entry"><%= "No Info Yet" %></div>
      </a>
      <% else %>
      <a href="<%= card_path(card.id) %>">
        <div class="entry bg" style="background-image:url('<%= shinymasu_card_image_path('icon',card.id) %>')"></div>
        <div class="entry"><%= card.title_tr %></div>
      </a>
      <% end %>
      </div>
    <% end %>
    <% (_divs - cardrow.size).times do %>
    <div class="entry">&nbsp;</div>
    <% end %>
  </div>
  <% end %>
</div>
<div id="chara-support-cards" class="chara-cards">
  <h2>Support Cards</h2>
  <% support.each_slice( _divs ) do |cardrow| %>
  <div class="row">
    <% cardrow.each do |card| %>
    <div class="entry">
      <% if card.nil? %>
      <a>
        <div class="entry bg" style="background-image:url('<%= shinymasu_card_image_path('icon','0000000000') %>')"></div>
        <div class="entry"><%= "No Info Yet" %></div>
      </a>
      <% else %>
      <a href="<%= card_path(card.id) %>">
        <div class="entry bg" style="background-image:url('<%= shinymasu_card_image_path('icon',card.id) %>')"></div>
        <div class="entry"><%= card.title_tr %></div>
      </a>
      <% end %>
    </div>
    <% end %>
    <% (_divs - cardrow.size).times do %>
    <div class="entry">&nbsp;</div>
    <% end %>
  </div>
  <% end %>
</div>
<br>
<span class="text-muted">*Don't take this seriously.</span><br>
<span class="text-danger">**Please note that some cards may be unregistered. You can offer a help for it.</span><br>

