<%
  cid_map = @card.panel_tree(flat: true)
  valid_skills = @card.skills.reject { |skill|
    MstShinyColors::Skill === skill && skill.level.to_i > 1
  }
%>
<% valid_skills.each_slice(_s = 1) do |skill_row| %>
<div class="cbhrow">
  <% skill_row.each do |skill| %>
  <%
    stage_text = skill.human_stage
    cid_map.each do |skill_stage, skill_list|
      if skill.in?(skill_list) && skill.parent.in?(skill_list.map(&:parent)) then
        stage_text = skill_stage
        break
      end
    end
    rarity = ((skill.respond_to?(:rarity) and skill.rarity) or 1)
    level  = ((skill.respond_to?(:level)  and skill.level) or 1)
    rarity_text = case skill
                  when MstShinyColors::Skill; 'data-rarity=%d'%[rarity]
                  when MstShinyColors::MemorySkill; 'data-memory=%d'%[level]
                  end.html_safe
  %>
  <div class="fit entry" <%= rarity_text %> >
    <div class="cbhrow">
      <div class="entry"><%= stage_text %></div>
      <div class="entry">
        <div class="cbhrow"><%= skill.name %></div>
        <div class="cbhrow"><%= skill.human_type %></div>
      </div>
      <div class="entry"><%= skill.human_cost %></div>
      <div class="entry"><%= skill.human_requirement %></div>
      <div class="entry">
      <% if skill.contribute_fes_point? then %>
        <% skill.each_fes_order(3) do |fes_row| %>
        <div class="cbhrow">
          <% fes_row.each do |fes_key, fes_point| %>
          <div class="entry fes-<%= fes_key %>"><%= fes_point %></div>
          <% end %>
        </div>
        <% end %>
      <% else %>
        No FP
      <% end %>
      </div>
    </div>
    <div class="cbhrow">
    <% it_s = 0 %>
    <% skill.each_effect_iterable do |ef_name, ef_list| %>
      <% it_s += 1 %>
      <div class="entry card-skill-effect-list" data-caption="<%= ef_name.humanize %>">
      <% ef_list.each do |effect| %>
        <% if effect.type == :cond then %>
        <div class="cbhrow">
          <div class="entry"><%= effect[:name] %></div>
          <div class="entry"><%= effect[:value] %></div>
        </div>
        <% else %>
        <div class="cbhrow">
          <div class="entry"><%= effect[:name] %></div>
          <div class="entry"><%= effect[:duration] %></div>
          <div class="entry"><%= effect[:target] %></div>
        </div>
        <% end %>
      <% end %>
      </div>
    <% end %>
    <% if it_s.odd? then %>
      <div class="entry"></div>
    <% end %>
    </div>
  </div>
  <% end %>
  <% if skill_row.size < _s %>
  <div class="fit entry">&nbsp;</div>
  <% end %>
</div>
<% end %>
