<%# "not in the mood to generalize these" %>
<% @card.aid.level_skill.each_slice(_s = 1) do |skill_row| %>
<div class="cbhrow">
  <% skill_row.each do |level_limit, skill| %>
  <%
    stage_text = "Level %d"%[skill.level]
    rarity_text = 'data-rarity=%s'%[skill.level.pred]
  %>
  <div class="fit entry" <%= rarity_text %> >
    <div class="row">
      <div class="entry"><%= stage_text %></div>
      <div class="entry">
        <div class="row"><%= skill.name %></div>
        <div class="row"><%= skill.human_type %></div>
      </div>
      <div class="entry"><%= "-" %></div>
      <div class="entry"><%= "Card Level #{level_limit}" %></div>
      <div class="entry">
      <% if skill.contribute_fes_point? then %>
        <% skill.each_fes_order(3) do |fes_row| %>
        <div class="row">
          <% fes_row.each do |fes_key, fes_point| %>
          <div class="entry fes-<%= fes_key %>"><%= fes_point %></div>
          <% end %>
        </div>
        <% end %>
      <% else %>
        No FP
      <% end %>
      </div>
    </div>
    <div class="row">
    <% it_s = 0 %>
    <% skill.each_effect_iterable do |ef_name, ef_list| %>
      <% it_s += 1 %>
      <div class="entry card-skill-effect-list" data-caption="<%= ef_name.humanize %>">
      <% ef_list.each do |effect| %>
        <% if effect.type == :cond then %>
        <div class="row">
          <div class="entry"><%= effect[:name] %></div>
          <div class="entry"><%= effect[:value] %></div>
        </div>
        <% else %>
        <div class="row">
          <div class="entry"><%= effect[:name] %></div>
          <div class="entry"><%= effect[:duration] %></div>
          <div class="entry"><%= effect[:target] %></div>
        </div>
        <% end %>
      <% end %>
      </div>
    <% end %>
    <% if it_s.odd? then %>
      <div class="entry"></div>
    <% end %>
    </div>
  </div>
  <% end %>
  <% if skill_row.size < _s %>
  <div class="fit entry">&nbsp;</div>
  <% end %>
</div>
<% end %>
