<%
  list_mode = @_card_details.size > 10 ? 'dual' : 'normal'
%>
<div class="row" id="card-detail-tabs">
  <ul class="<%= list_mode %>">
  <% @_card_details.each do |short, long| %>
    <a href="#<%= short %>"><li data-key="<%= short %>"><%= long %></li></a>
  <% end %>
  </ul>
</div>
<% @_card_details.each do |short, long| %>
<div class="row card-detail-tab" id="<%= short %>">
  <%= render "card_detail_#{short}" %>
</div>
<% end %>

