<h1>Card List</h1>
  <% @card_list.each do |key, cards| %>
  <% next if cards.blank? %>
  <% config = @_config[key] %>
  <% next if config.blank? %>
  <div id="<%= 'card-type-%s' % [key] %>" class="card-section">
    <h2><%= "%s Card List" % [key.to_s.titleize] %></h2>
    <h3>Filter</h3>
    <div class="row card-filter">
    <!-- This spins me a lot -->
    </div>
    <table class="card-list">
    <thead>
      <tr>
        <th></th>
        <% config[:fields].each do |key, header| %>
        <th class="<%=(['card-info-' + key] + header[:class]).join(' ')%>"
          data-sort-key="<%=key%>"
          data-sort-group="<%=header[:group]%>"
        ><%= header[:name] %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
    <% cards.each do |card| %>
      <% card_classes = '' %>
      <% card_classes << 'incomplete' if card.incomplete? %>
      <tr class="<%= card_classes.join(' ') %>">
        <td class="card-icon" style="background-image:url('<%= shinymasu_card_image_path('icon',card.id) %>')" width=32></td>
        <% config[:fields].each do |key, header| %>
        <td class="<%=(['card-info-' + key] + header[:class]).join(' ')%>"
          data-sort-key="<%=key%>"
          data-sort-group="<%=header[:group]%>"
        ><%= header[:function].execute(card)%></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
    </table>
  </div>
  <% end %>
</div>
