<div id="card-detail" class="card">
  <div class="row" id="card-title">
    <div class="entry">
      <h1><%= @card.title %></h1>
      <% if @card.title_tr? %>
      <h2><%= @card.title_tr %></h2>
      <% end %>
      <span><%= @card.copyright_info.present? ? @card.copyright_info : '&nbsp;'.html_safe %></span>
    </div>
    <div class="entry">
      <h2><%= @card.character.name_romaji || '-' %></h2>
    </div>
  </div>
  <div class="row" id="card-image-list">
    <div class="entry bg" style="background-image:url(<%= shinymasu_card_image_path('full',@card.id) %>)"></div>
    <% if @card.produce? %>
    <div class="entry bg" style="background-image:url(<%= shinymasu_card_image_path('full2',@card.id) %>)"></div>
    <% end %>
  </div>
  <h2>Card Status</h2>
  <div class="row" id="card-status">
    <% if @card.produce? then %>
      <% %w(vocal dance visual mental).each do |stat| %>
      <div class="entry stat-<%= stat %>" data-field="<%= stat.capitalize %>"><span class="stat base"><%= @card.attributes[stat] %></span>/<span class="stat limit"><%= @card.attributes["limit_"+stat] %></span></div>
      <% end %>
    <% end %>
    <% if @card.support? then %>
      <% skn = "%s_%s_bonus" %>
      <% %w(vocal dance visual mental skill_point).each do |stat| %>
      <% sn = stat.count('_').zero? ? stat.titleize : stat.titleize.gsub(/[^A-Z]/,'') %>
      <div class="entry stat-<%= stat %>" data-field="<%= sn %>">
        <%= [
          ["base", "default"],
          ["mid", "middle"],
          ["max", "max"],
        ].map do |(ec,sp)|
          ('<span class="stat %s">%s</span>' % [ec, @card.attributes[skn % [sp,stat]]]).html_safe
        end.join('>').html_safe %>
      </div>
      <% end %>
    <% end %>
  </div>
  <%= render "card_details" %>
  <h2>Navigation</h2>
  <div class="row" style="text-align:center;">
    <%= link_to('Character Page',chara_path(@card.character_id)) %> &nbsp;|&nbsp;
    <%= link_to('Character List',chara_matrix_path()) %>
  </div>
</div>
